@font-face {
    font-family: 'Rainbow';
    src: url(../asset/Font/Rainbow.woff) format('woff'),
         url(../asset/Font/Rainbow.ttf) format('truetype'),
         url(../asset/Font/Rainbow.woff2) format('woff2');
    font-display: optional;
    font-style: normal;
}
    
body {
    font-family: monospace;
    font-size: 11pt;
}

.profile{
    margin-top: 20px;
}

section{
    min-height: 250px;
}

.images img{
    width: 200px;
}

footer{
	background-color: #333;
	padding: 10px;
}

footer p{
	text-align: center;
	color: #eaeaea;
	font-size: 12px;
}