body {
    font-family: monospace;
    /* background-image: url("../asset/image/indexBg.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

.content a{
    color: salmon;
} 

.content {
    justify-content: center;
    text-align: center;
}

.center{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
